
<div id="home">
   <header id="main-content" class="d-flex align-items-center position-relative h-100 w-100">
      <div id="main-left" class="mr-5 ml-5">
         <div class="main-text">
            <h1 id="main-title">Get your music <span class="text-green">heard</span></h1>
            <div id="line"></div>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab delectus ipsa impedit
               vel accusamus
               sed.</p>
            <a href="#!registrate" id="btnReg" class="btn btnBlue">Create your account</a>
         </div>
      </div>
      <div id="main-right" class="position-relative">
         <img src="image/Group 109.png" id="main-bg">
      </div>
   </header>
</div>

<!-- WHY TUNELAB -->
<whytunelab></whytunelab>

<!-- PEOPLE SAID -->
<peoplesaid></peoplesaid>        <!-- ng-repeat används på denna sektion -->

<!-- TOP CHART -->
<topchart></topchart>            <!-- ng-repeat används på denna sektion -->

<!-- REPOST SERVICE -->
<repostservice></repostservice>

<!-- PARTNERS -->
<partners></partners>

<!-- DEMO DROP -->
<demodrop></demodrop>