<navbar></navbar>

<div id="form-container">
    <form id="loginForm" class="d-flex align-items-center justify-content-center col-12 vh-100 mt-5">
        <div class="form-row col-12 col-md-3">
            <div class="form-group col-md-12">
                <label for="inputEmail4">Email Adress:</label>
                <input type="email" class="form-control bg-transparent" id="inputEmail4" autocomplete="off">
            </div>
            <div class="form-group col-md-12 pt-2">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control bg-transparent" id="inputPassword4" autocomplete="off">
            </div>

            <button id="btnSignin" class="btn w-100 mt-3 pt-2 pb-2" type="submit">Sign In</button>

            <div class="m-auto pt-4">
                <a href="#!forgotpw" id="forgotPw">Forgot Password?</a>
                <div class="mt-5">
                    <a href="#/!" id="hideForm" class="d-flex justify-content-center align-items-center m-auto">
                        <div class="line1"></div>
                        <div class="line2"></div>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>